/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --cor-primaria: #F9003D; /* Vermelho SENAI */
    --cor-secundaria: #A259F7; /* Roxo SENAI */
    --cor-destaque: #FFAF00; /* Amarelo SENAI */
    --fundo-escuro: #080324; /* Fundo escuro */
    --fundo-marrom: #181012; /* Fundo marrom */
    --fundo-marrom-claro: #241a1b; /* Fundo marrom claro */
    --texto-claro: #FFFFFF; /* Texto branco */
    --texto-cinza: #C7BAB3; /* Texto cinza */
}

body {
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.6;
    font-size: 18px; /* Tamanho da fonte base aumentado */
}

/* Construir CSS restante (Aqui) */

/* Header (Cabeçalho) */

.txtamarelo {
    color: var(--cor-destaque)
}

.txtvermelho {
    color: var(--cor-primaria);
}

.txtcinza {
    color: var(--texto-cinza);
}

header {
    background-color: var(--cor-primaria);
    height: 10vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav, ul {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--texto-claro);
}

header nav ul li {
    padding: 5px 15px;
    margin-top: 10px;
}

#senai {
    height: 30px;
    width: 100px;
    display: block;
    margin-top: 14px;
    margin-left: 175px;
}

#contatenos {
    background-color: var(--cor-secundaria);
    margin-right: 175px;
    border-radius: 5px;
}

/* Primeira parte da página */

main {
    background-image: url(../assets/imagem-fundo-banner.jpg);
    align-content: center;
    text-align: center;
    height: 130vh;
}

main #container1 ul {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
}

#underline {
    margin-bottom: 5px;
}

p {
    font-size: 1.3rem;
}

#mouse {
    margin-top: 40px;
    width: 60px;

}

/* Segunda parte da página */
section {
    height: 100vh;
}

#section1 {
    background-color: var(--fundo-marrom);
    align-content: center;
}


#projeto {
    text-align: center;
    margin-bottom: 35px;
}

#imgsobre {
    height: 350px;
    margin-left: 200px;
}

#section1 ul {
    flex-direction: column;
    margin-left: 50px;
    margin-top: 80px;
}

#container2 {
    display: flex;
}

/* Terceira parte da página */

#container3 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#section2 #container3 ul {
    background-color: var(--fundo-marrom-claro);
    border-radius: 5px;
    padding: 15px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info {
    background-color: var(--fundo-escuro);
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

#local {
    margin-left: 325px;
}

#desafios {
    margin-right: 325px;
}

#local2 {
    padding: 15px 40px 15px 40px;
}

#duracao2 {
    padding: 15px 50px 15px 50px;
}

#desafios2 {
    padding: 15px 30px 15px 30px;
}

#endereco {
    margin-top: 75px;
    margin-bottom: 40px;
    text-align: center;
}


#container4 {
    display: flex;
    justify-content: space-around;
}

#container4 ul {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

#container4 img {
    border-radius: 10px;
    height: 250px;
}